@import "src/styles/variables";

@mixin iconStyle {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.inputWrapper {
  width: 100%;
  position: relative;

  .input {
    width: 100%;
    outline: none;
    padding: 7px 20px;
    padding-right: 30px;
    background: $inputBGC;
    border-radius: 6px;
    box-shadow: $inputShadow;
    backdrop-filter: $inputFilter;
    -webkit-backdrop-filter: $inputFilter;
    border: none;
    color: $inputColor;
    font-size: 16px;
    font-weight: 500;

    &:focus {
      color: $inputFocusColor;
    }

    &:disabled {
      color: lightgray;
    }

    &::placeholder {
      color: gray;
    }

    &.errorInput {
      color: $errorColor;
    }

    &.paddingLeft {
      padding-left: 30px;
    }


    &.paddingRight {
      padding-right: 30px;
    }
  }

  .errorInput {
    &::placeholder {
      color: lightgray;
    }
  }

  .error {
    font-size: 16px;
    line-height: 140%;
    color: $errorColor;
    margin-top: 5px;
    text-align: start;
  }

  .startIcon {
    @include iconStyle();
    left: 5px;
  }

  .endIcon {
    @include iconStyle();
    right: 5px;
  }
}





