@import "src/styles/variables";

.location {
  .city {
    color: $textColor;
    font-size: 20px;
    text-shadow: $textShadow;
  }

  .country {
    text-align: end;
    color: $textColor;
    text-shadow: $textShadow;
    font-size: 12px;
  }
}