.app {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  justify-content: center;
  align-items: center;

  &.clear-day {
    background: linear-gradient(135deg, hsla(220, 40%, 51%, 1) 0%, hsla(220, 93%, 72%, 1) 45%, hsla(220, 40%, 51%, 1) 100%);
  }

  &.cloudy {
    background: linear-gradient(135deg, rgb(199, 213, 218) 5%, rgb(88, 102, 112), rgb(199, 213, 218));
  }

  &.clear-night {
    background: linear-gradient(315deg, rgb(27, 35, 47), rgb(43, 65, 98), rgb(27, 35, 47));
  }

  .snackBar {
    z-index: 1;
    position: absolute;
    bottom: 40px;

  }
}