@import "src/styles/variables";

.weatherBlock {
  background: $primary06;

  padding: 10px 10px; // temp

  .weatherInfo {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .temp {
      color: $textColor;
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      line-height: .8;

      &::after {
        content: '\00B0';
      }
    }
  }

  &.current {
    display: flex;
    align-items: center;
    gap: 10px;

    .weatherInfo {
      height: max-content;

      .temp {
        font-size: 34px;
        font-weight: 200;
        margin-top: 10px;
      }
    }
  }
}