@import 'src/styles/variables';

.weatherFrameWrp {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 500px;
  max-width: 80vw;
  height: 90vh;
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
  }

  .tab {
    z-index: 1;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .citySelection {
      margin-left: auto;

    }
  }

  .dateAndLocation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 50px 20px 50px;
    z-index: 1;
  }

  .calendarEvents {
    z-index: 1;
    margin: 0 10px 0 50px;
    flex-grow: 1;
    overflow-y: auto;

    &.empty {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary09;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.15);
      border-radius: 10px;
    }

    .showEventsBtn {
        max-width: 200px;
    }
  }

  .selection {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    & > div {
      margin-left: auto;
    }
  }

  .weather {
    background: linear-gradient(180deg, transparent 0%, $primary08 8%);
    padding-top: 10px;
    display: flex;
    z-index: 1;

    & > div:first-child {
      margin: 0 20px;
    }
  }

  @media screen and (max-width: 500px) {
    min-width: 100vw;
    min-height: 100vh;

    .tab {
      .citySelection {
        flex-grow: 1;
      }
    }
    .weather {
      flex-direction: column;
      padding-top: 30px;
    }
  }
  @media screen and (max-width: 400px) {
    .dateAndLocation {
      margin: 10px 20px 20px 20px;
    }
    .calendarEvents {
      margin: 0 10px 0 20px;
    }
  }
}