@import "src/styles/variables";


.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  background-color: $primary09;
  border-radius: 8px;

  .label {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: -.2px;
    color: $textColor;
    font-weight: 400;
  }

  &.medium {
    padding: 1px 7px;
    border-radius: 12px;

    .label {
      font-size: 13px;
    }
  }

  &.large {
    font-size: 14px;
    border-radius: 12px;
    padding: 1px 8px;
  }
}